/* Global styles 
* {
  outline: 1px solid red;
} */

html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f2f2f2;
  color: #222;
  box-sizing: border-box;
}

header {
  z-index: 9999999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 7px;
  top: 0;
  left: 0;
  right: 0;
}

header img {
  max-width: 100%;
  height: auto;
  max-height: 40px;
}

nav {
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center !important;
}

nav li {
  margin-right: 25px;
}

nav a {
  font-size: 20px;
  color: #222;
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover {
  color: #555;
}

/* Hamburger menu icon */
#menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-left: auto;
}

#menu-toggle span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #222;
  margin: 4px 0;
}

@media (max-width: 768px) {
  nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  nav.active {
    display: block;
  }

  nav ul {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 7px;
  }

  nav a {
    font-size: 20px;
  }

  #menu-toggle {
    display: block;
  }

  #menu-toggle.active span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle.active span:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

.container {
    display: grid;
    place-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 40px;
}

.form-container {
    display: grid;
    padding: 1.5rem 2.5rem 2.5rem 2.5rem;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
}

.form-container h1 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 30px;
}

.avatar {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="password"],
.form-container input[type="url"],
.form-container input[type="date"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    min-width: 300px;
}

.form-container textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    min-width: 300px;
    resize: vertical;
}

.form-container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    grid-column: 1 / -1;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.form-container input[name="logout"] {
    background-color: #ff6347;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    grid-column: 1 / -1;
}

.form-container input[name="logout"]:hover {
    background-color: #e3473d;
}

.form-container input[name="confirm"] {
    background-color: #ff6347;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    grid-column: 1 / -1;
}

.form-container input[name="confirm"]:hover {
    background-color: #e3473d;
}

.form-container input[name="delete"] {
    background-color: #ff6347;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    grid-column: 1 / -1;
}

.form-container input[name="delete"]:hover {
    background-color: #e3473d;
}

.form-container input[name="cancel"] {
    background-color: #4d4d4d;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    grid-column: 1 / -1;
}

.form-container input[name="cancel"]:hover {
    background-color: #404040;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
}

.form-action-cancel {
    background-color: #ccc;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.form-action-delete {
    background-color: #f00;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.form-action-confirm {
    background-color: #f00;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* Dropdown Button */
.dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    transform: translateX(-50%);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.dropdown-content a {
    text-align: left;
    white-space: nowrap;
  }
  
  .dropdown-content a:after {
    content: "\A";
    white-space: pre;
  }
  
  .dropdown-content a:hover:after {
    content: "";
  }

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.fa-ellipsis-v {
    color: #444;
}

a {
    text-decoration: none;
    color: #0063d5;
    text-align: center;
}

a:hover {
    color: #ff1a1a;
}


@media screen and (max-width: 768px) {
    .form-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .form-container {
        padding: 30px;
    }
}
